@page "/password"
@using PimWebApp.Data
@using PimWebApp.Interfaz
@inject IUsuarioServices UsuarioServicio
@inject IModalService modal

<h1 class="NuevoU">Password</h1>

@if (usuario == null)
 {
    <p class="NuevoU"><em>Cargando...</em></p>
 }
else
{
    <div class="NuevoU">
        <table class="table">
            <thead>
                <tr>
                    <th>URL</th>
                    <th>Nombre Usuario</th>
                    <th>Correo</th>
                    <th>Contraseña</th>
                    <th>Nota</th>
                    

                </tr>
            </thead>
            <tbody>
                 @foreach (Usuario u in usuario)
                  {
                <tr>
                    <td>@u.Direccion</td>
                    <td>@u.NombreUsuario</td>
                    <td>@u.Correo</td>
                    <td>@u.Contraseña</td>
                    <td>@u.Nota</td>
                    

                    <td>
                        <a href="/NuevoUsuario/@u.ID" class="btn btn-primary m-1">Editar</a>
                    </td>
                </tr>
                  }
            </tbody>
        </table>
    </div>
}
<button @onclick="@(()=>modal.Show<NuevoUsuario>())" class="btn btn-primary"> Crear </button>

@code {
    private IEnumerable<Usuario> usuario;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            usuario = await UsuarioServicio.ListarTodosLosUsuarios();
        }
        catch
        {
            throw;
        }
    }
}
